Nama : Nawang Pramesti Adji

NIM : A12.2020.06534

Kelas : A12.6501

## Eksperimen dan Pengumpulan Dataset

## Pemanggilan Library 1

In [1]:
import pandas as pd
import time
import tweepy
import numpy as np

In [2]:
def twitter_config():
    """
    Fungsi utilitas untuk mengkonfigurasi konsumsi file API Twitter dengan‚ê£
    ,!kunci yang disediakan.
    """
    
    # Autentikasi dan akses menggunakan keys
    auth = tweepy.OAuthHandler("3WqiERQiyIS4bDs98zeMewIPU", 
    "i9Q4rRSAU1Ths8EDxpdCYcekyoHk98UW8DUKaKBgSMtNqoEBCX")
    auth.set_access_token("1576906033913417728-peMb29THb8tPCWayV9UDpb9hHEj7gD", 
    "CkytzLI8Pympc2zAwvjTj2pLIjis5IAdq1ATgJEe9sh6B")
    
    # Kembalikan akses ke API
    api = tweepy.API(auth)
    try:
        api.verify_credentials()
        print("Authentication OK")
    except:
        print("Error during authentication")
    return api

In [3]:
# Membuat extractor object
extractor = twitter_config()

Authentication OK

## Ambil Tweet dari Username

Username yang saya ambil adalah @dsuperboy

In [4]:
tweets = extractor.user_timeline(screen_name="dsuperboy", count=1000)
print("Tweets terambil: {}.\n".format(len(tweets)))

print("100 tweet teratas:\n")
for tweet in tweets[:100]:
    print(tweet.text)
    print()

Tweets terambil: 200.

100 tweet teratas:

@bellaksaragih dagang sate

orang-orang terus jadi wibu https://t.co/sDzvfpIKM9

orang-orang terus melupakan diri
mereka sebelum mereka dilupakan
kita masih keras hati saling melirik
dalam jauh ja‚Ä¶ https://t.co/CpyQoDP9DO

orang-orang terus jadi abu
kita hanyut dalam waktu yang
tidak pernah benar-benar kita
miliki seusia pertemuan ini‚Ä¶ https://t.co/ymelkwmNxR

cuma malam minggu. dah biasa.

BERTEMU DI TEMARAM https://t.co/GkhFfvkOAc

@berlianidris üòÖ

Jangan ajari aku sabar. Dari kecil sampai sekarang aku belum pernah mandi bola.

Di Twitter, cewek masak buat cowoknya, diributin. Cowok bawain tas ceweknya, diributin. Emang paling bener hidup di‚Ä¶ https://t.co/nOASLHrZsa

Tak mengapa sendirian di sepanjang jalan. Mungkin sesekali sepi tapi pekerjaan demi pekerjaan semoga bisa mengobati‚Ä¶ https://t.co/Gz3eFs6ZiQ

Jam-jam rawan mikir: buat apa ya gue buru mati-matian semua ini.

@shadowwszx Lagi lapar, nggak bisa mikir. Met ultah ya

Lapar mulu larut malam.

Selamat tidur dari Siteba. https://t.co/EUCPnCzMRC

Temukan tempat yang tepat untukmu. Sebab tidak di semua tempat ikan arwana bernilai tinggi.

@mawardtl Iya

Dinosaurusnya malah ikut ke rumah. https://t.co/9UR69KrFvs

padahal sudah kutelan suaramu
sebelum langkah-langkah menjauh
sudah kurekam penuh tatap matamu
sebelum udara memisa‚Ä¶ https://t.co/5QsgBggxek

'biar kukirim kau ke bulan.'
kemudian hari-hari penuh
dengan daun-daun muda
tumbuh bercabang di diriku

kemudian h‚Ä¶ https://t.co/f7qqVPMBOl

matahari kecil yang kau kirim
setiap pagi di hadapan jendela
alasan hari-hari harus dilalui
dengan penuh gairah ya‚Ä¶ https://t.co/R8alms94uf

Di antara masalah-masalah yang datang mencoba untuk melumpuhkan semangatku. Selalu kunyalakan api-api kecil dalam d‚Ä¶ https://t.co/LZhyvhQprq

@Fajarrrx Bulan depan ya. Kumpulin struk belanja dulu

Lumayan kokoh nih dinosaurus ü´° https://t.co/L5re1kxdLO

Sekarang ada dinosaurus yang nemanin nulis buku di kopisop. https://t.co/4AOFhelM4m

@karniforaa Beli kopinya dulu tiap hari selama sebulan. ü§£

anakan dinosaurus. baru lahir, belum pandai pakai make up dan skinker. https://t.co/5mTW8SfiWN

üòí: Tiap hari ke kopisop biar apa?

Aku: Biar bisa bikin dinosaurus dari kertas struk belanja kopi. https://t.co/FdqEg1os6R

Kuliahlah di Padang, setelah lulus kembali ke kotamu. Sebelum rindu membuatmu mencari-cari cara kembali ke kota ini.

@waroyvhe Kamu agennya AC mbak Rara?

Absen kota tempat tinggal warga di kolom komen.

Dipikir orang main Twitter tinggal di pulau Jawa semua apa ya.

Alhamdulillah, hari ini bangun agak pagian.

ü§åüèª https://t.co/r8Ry9hwa7r

üôèüèª https://t.co/Huc03qyYxy

Bangsa kita memang bangsa yang bersih, makanya kita selalu disuguhi pemerintah yang rajin cuci tangan.

Selain kopi, durian, dan yang asam-asam dan pedas. Kalau kamu asam lambung, sepertinya hal yang harus kamu hindari juga adalah berdebat.

Setiap hari selalu ada sesuatu yang datang pada diri, yang harus kuhadapi. Meski kadang aku tidak sungguh-sungguh siap. :)

@detikcom üò≠üò≠üò≠

sebidang sawah
menjelma tendangan
menjelma gas air mata
memupuk naluri menghabisi

sebidang sawah
seakan harus diga‚Ä¶ https://t.co/9NhXUTD5wx

Jadi, target tahun ini udah progres berapa persen?

@_yrom Gelap semua emang. Sampai ke konsep video videonya üòÖ

@amirulasyie_ Oke Wqwq

@amirulasyie_ Lah, ini kamu udah bangun.

@Reza_pung Di mana salahnya bangun siang?

Waktu sekolah jadi morning person kok.

Kan belum ada sekolah sekte pemuda bangun siang. üòÖ

Aku udah pernah bangun‚Ä¶ https://t.co/dT7FnG26De

Saya bangun siang bukan karena malas, saya produktifnya sore hingga dinihari.

@rrrrrruto Sorry lupa Wqwq ntar dijual deh ü§£

@rrrrrruto Padahal bisa bikin sendiri wqq

Harus gue yang jualan nih?

Nggak banyak sih. Sejauh ini baru nerbitin 24 judul buku gegara hidup dengan pola sekte ini üòÖ https://t.co/p80goaztSc

@rrrrrruto Mau beli nggak?

Nggak telat bangun, kita beda cara menikmati hidup aja. https://t.co/rCoUhjlYD7

pagi.

Sebelum tidur, ingat, ada banyak hal yang membuatmu harus bertahan untuk terus hidup. Semisal, pas punya uang jangan lupa beli nasi Padang.

Tidurlah. Pukul segini isi kepala emang kadang aneh-aneh. Malah main tebak-tebakan.

Ayam-ayam apa yang enggak enak?

beberapa puisi akhirnya kusimpan sendiri. aku tahu kau tak akan peduli semua yang kutulis. andai pun kau sadar itu‚Ä¶ https://t.co/rZh67XCqJR

Beberapa orang membiarkan impiannya menggantung di tangan orang-orang yang tak bisa diharapkan. Terlalu takut berge‚Ä¶ https://t.co/iZgXtUVWsO

Mungkin aku tidak dihitung di semesta yang luas ini. Hanya debu yang berterbangan. Jika pun aku hilang mungkin tak‚Ä¶ https://t.co/37IGztKVNl

@koechengpondok Mati mah hal yang pasti üòÖ

@ngapainsemangat Ini dalam banget emang

@ainellim__ Ya bukan kematian lampu juga

@masmas34b Emang lagu dia

Kasih tahu judul lagu yang tema liriknya kematian dong.

Dengar lagu bendera kuning di kopisop berasa mau nangis. Lemah.

Lihat saja ketika kamu dapat masalah siapa yang selama ini kamu anggap kawan, malah ikut jatuhin kamu. Siapa yang jadi musuh dalam selimut.

@Biruubiu ‚úäüèª

@_puutttee Kalau banteng jadinya partai

@Hambahagiana Tu udah dirantai ayamnya

https://t.co/dGcAEg8myN

Selamat pagi.

Sesekali aku menghindar dari percakapan. Sesekali aku tidak ingin membalas chat WhatsApp. Sesekali aku tidak ingin‚Ä¶ https://t.co/U5bSoEe0Lh

Sudah melihat peluang cuma malas berjuang.

Maaf ya kalau kadang pas ngobrol aku jawab 'hah hoh' doang. Lagi banyak pikiran soalnya.

aku membayangkan ada di sana
di hamparan sabana liar yang hijau
segerombol burung kecil berkejaran
lalu menukik ke‚Ä¶ https://t.co/yPXdp3rmvU

aku sering membayangkan ada di sana
di atas sampan denganmu sembari menyapa
riak-riak air yang berkejaran di sekita‚Ä¶ https://t.co/D6NwDTlNeh

@zarryhendrik ü§£

Yang tak bisa dihindari dari hidup; kawan-kawan seumuran akan pergi satu persatu mencari hidup mereka. Satu persatu‚Ä¶ https://t.co/bZF282nt14

Adanya hantu jeruk nipis kak. https://t.co/kw0euuywcC

@syauqijonnata_ Makasih rekomennya.

Nggak gitu. Aku menemukan YouTube yang bahas hantu-hantuan banyak di pulau Jawa dan Kalimantan. Apakah orang di Sum‚Ä¶ https://t.co/U91ZibsaaY

Ada akun youtube yang bahas hantu di Sumatera nggak sih?

@menanammenuai Lai sabana e tu

dikirim dari siteba yang hujan https://t.co/pgqcAmWMbT

@Fourtrie Makasih rekomennya mas

@Nfvxj 75 itu yang udah sampai ke pembaca. Kemarin stoknya 1000 (masih dalam pengiriman). Pantau aja ya.

Di suatu hari defenisi hantu akan kita kenang bukan lagi sosok-sosok seram berdarah, tapi kerumunan berseragam yang haus darah.

@arak_jahat Dm gopay

@Androngehe Hantu yang menyemprotkan gas air mata

@Gion29_Arzunt Ingat kata tukang parkir

@arak_jahat Tips yang membantu

@junayyy__ beli ya üòÖ

Mau nulis novel horor tapi aku penakut ü´£

@zarryhendrik Namanya juga divisi humas

@KharismaHaris6 Langsung ke tkp

untuk si paling overthinking https://t.co/q1vBHuJswD

Rekomen dong akun YouTube yang hobinya bahas setan setan.

@Adli_DHJ üôèüèª

Selamat istirahat. https://t.co/CkpPE9RYRA

Kapan kamu terakhir kali bertanya kabar pada dirimu sendiri? Apakah kamu masih menyempatkan diri untuk memberi hadi‚Ä¶ https://t.co/ET6bVoPEk2

Kamu gimana kabarmu?

## Masukkan ke dalam dataframes Pandas

In [5]:
# Membuat kerangka data menggunakan sintaks berikut
dataset = pd.DataFrame(data = [tweet.text for tweet in tweets], columns = ['Tweets'])

# Tampilan kerangka data
display(dataset.head(100))

                                               Tweets
0                          @bellaksaragih dagang sate
1   orang-orang terus jadi wibu https://t.co/sDzvf...
2   orang-orang terus melupakan diri\nmereka sebel...
3   orang-orang terus jadi abu\nkita hanyut dalam ...
4                       cuma malam minggu. dah biasa.
..                                                ...
95  Rekomen dong akun YouTube yang hobinya bahas s...
96                                       @Adli_DHJ üôèüèª
97         Selamat istirahat. https://t.co/CkpPE9RYRA
98  Kapan kamu terakhir kali bertanya kabar pada d...
99                               Kamu gimana kabarmu?

[100 rows x 1 columns]

In [6]:
dataset.to_csv('dataset_dsuperboy.csv')

## Cleaning Word

## Import Library untuk Cleaning Word

In [7]:
import pandas as pd
import re
import string
import time
from copy import deepcopy

## Load Dataset

In [8]:
df = pd.read_csv('dataset_dsuperboy.csv')

df.head()

   Unnamed: 0                                             Tweets
0           0                         @bellaksaragih dagang sate
1           1  orang-orang terus jadi wibu https://t.co/sDzvf...
2           2  orang-orang terus melupakan diri\nmereka sebel...
3           3  orang-orang terus jadi abu\nkita hanyut dalam ...
4           4                      cuma malam minggu. dah biasa.

In [9]:
df

     Unnamed: 0                                             Tweets
0             0                         @bellaksaragih dagang sate
1             1  orang-orang terus jadi wibu https://t.co/sDzvf...
2             2  orang-orang terus melupakan diri\nmereka sebel...
3             3  orang-orang terus jadi abu\nkita hanyut dalam ...
4             4                      cuma malam minggu. dah biasa.
..          ...                                                ...
195         195                              @cynrj Buku senandika
196         196                            https://t.co/qZAFp1K0sA
197         197  Segala yang berlebihan itu nggak baik. Minum a...
198         198                    Selamat istirahat diri sendiri.
199         199          Instastori teman-temanku di konser semua.

[200 rows x 2 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   Tweets      200 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.2+ KB

## Preprocessing Dataset

Pertama lakukan instalasi modul ekphrasis

In [12]:
!pip install ekphrasis

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ekphrasis in c:\users\asus\appdata\roaming\python\python39\site-packages (0.5.4)
Requirement already satisfied: ujson in c:\programdata\anaconda3\lib\site-packages (from ekphrasis) (5.1.0)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from ekphrasis) (3.5.1)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from ekphrasis) (4.64.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ekphrasis) (0.4.4)
Requirement already satisfied: ftfy in c:\users\asus\appdata\roaming\python\python39\site-packages (from ekphrasis) (6.1.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from ekphrasis) (1.21.5)
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (from ekphrasis) (3.7)
Requirement already satisfied: termcolor in c:\users\asus\appdata\roaming\python\python39\site-packages (from ekphrasis) (2.0.1)
Requirement already satisfied: wcwidth>=0.2.5 in c:\programdata\anaconda3\lib\site-packages (from ftfy->ekphrasis) (0.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (9.0.1)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (21.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->ekphrasis) (1.16.0)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk->ekphrasis) (1.1.0)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk->ekphrasis) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk->ekphrasis) (2022.3.15)

In [13]:
from ekphrasis.classes.preprocessor import TextPreProcessor
from ekphrasis.classes.tokenizer import SocialTokenizer
from ekphrasis.dicts.emoticons import emoticons

text_processor = TextPreProcessor(
    # terms that will be normalized
    normalize=['email', 'percent', 'money', 'phone', 'user',
        'time', 'date', 'number'],
    # terms that will be annotated
    #annotate={"hashtag", "allcaps", "elongated", "repeated",'emphasis', 'censored'},
    annotate={"hashtag"},
    fix_html=True,  # fix HTML tokens
    
    # corpus from which the word statistics are going to be used 
    # for word segmentation 
    segmenter="twitter", 
    
    # corpus from which the word statistics are going to be used 
    # for spell correction
    corrector="twitter", 
    
    unpack_hashtags=True,  # perform word segmentation on hashtags
    unpack_contractions=True,  # Unpack contractions (can't -> can not)
    spell_correct_elong=False,  # spell correction for elongated words
    
    # select a tokenizer. You can use SocialTokenizer, or pass your own
    # the tokenizer, should take as input a string and return a list of tokens
    tokenizer=SocialTokenizer(lowercase=True).tokenize,
    
    # list of dictionaries, for replacing tokens extracted from the text,
    # with other expressions. You can pass more than one dictionaries.
    dicts=[emoticons]
)

C:\Users\Asus\AppData\Roaming\Python\Python39\site-packages\ekphrasis\classes\tokenizer.py:225: FutureWarning: Possible nested set at position 2190
  self.tok = re.compile(r"({})".format("|".join(pipeline)))

Reading twitter - 1grams ...
Reading twitter - 2grams ...
Reading twitter - 1grams ...

C:\Users\Asus\AppData\Roaming\Python\Python39\site-packages\ekphrasis\classes\exmanager.py:14: FutureWarning: Possible nested set at position 42
  regexes = {k.lower(): re.compile(self.expressions[k]) for k, v in

In [14]:
# panggil ekphrasis

def bersih_data(text):
    return " ".join(text_processor.pre_process_doc(text))

In [15]:
# fungsi dari AMS 01-03. silakan cek bagaimana saya merubah menjadi fungsi

def non_ascii(text):
    return text.encode('ascii', 'replace').decode('ascii')

def remove_space(text):
    return " ".join(text.split())

def remove_emoji(text):
    return ' '.join(re.sub("([x#][A-Za-z0-9]+)"," ", text).split())

def remove_tab(text):
    return text.replace('\\t'," ").replace('\\n'," ").replace('\\u'," ").replace('\\',"")

def remove_tab2(text):
    return re.sub('\s+',' ',text)

def remove_rt(text):
    return text.replace('RT'," ")

def remove_mention(text):
    return ' '.join(re.sub("([@#][A-Za-z0-9]+)|(\w+:\/\/\S+)"," ", text).split())

def remove_incomplete_url(text):
    return text.replace("http://", " ").replace("https://", " ")

def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

def remove_excessive_dot(text):
    return text.replace('..'," ")

def change_stripe(text):
    return text.replace('-'," ")

def lower(text):
    return text.lower()

def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

def remove_excessive_dot(text):
    return text.replace('..'," ")

def lower(text):
    return text.lower()

def remove_whitespace_LT(text):
    return text.strip()

def remove_whitespace_multiple(text):
    return re.sub('\s+',' ',text)

def remove_punctuation(text):
    remove = string.punctuation
    remove = remove.replace("_", "") # don't remove hyphens
    pattern = r"[{}]".format(remove) # create the pattern
    return re.sub(pattern, "", text)

In [16]:
# hapus untuk <>
def remove_number_eks(text):
    return text.replace('<number>'," ")

def remove_angka(text):
    return re.sub(r"\d+", "", text) 

def remove_URL_eks(text):
    return text.replace('URL'," ").replace('url'," ")

def space_punctuation(text):
    return re.sub('(?<! )(?=[.,!?()])|(?<=[.,!?()])(?! )', r' ', text)

## Mulai Proses Pembersihan

In [17]:
i = 0
final_string = []
s = ""
for text in df['Tweets'].values:
    filteredSentence = []
    EachReviewText = ""
    proc = remove_rt(text)
    proc = lower(proc)
    proc = change_stripe(proc)
    proc = remove_emoji(proc)
    proc = remove_tab(proc)
    proc = remove_tab2(proc)
    proc = non_ascii(proc)
    proc = remove_incomplete_url(proc)
    proc = remove_excessive_dot(proc)
    proc = remove_whitespace_LT(proc)
    proc = remove_whitespace_multiple(proc)
    proc = remove_single_char(proc)
    proc = space_punctuation(proc)
    proc = remove_punctuation(proc)
    proc = remove_space(proc)
    proc = bersih_data(proc)
    proc = remove_number_eks(proc)
    proc = remove_angka(proc) 
    proc = remove_URL_eks(proc)
    EachReviewText = proc
    final_string.append(EachReviewText)

In [18]:
df["step01"] = final_string

In [19]:
df.head(10)

,Unnamed: 0,Tweets,step01
0,0,@bellaksaragih dagang sate,bellaksaragih dagang sate
1,1,orang-orang terus jadi wibu https://t.co/sDzvf...,orang orang terus jadi wibu cosdzvfpikm
2,2,orang-orang terus melupakan diri\nmereka sebel...,orang orang terus melupakan diri mereka sebelu...
3,3,orang-orang terus jadi abu\nkita hanyut dalam ...,orang orang terus jadi abu kita hanyut dalam w...
4,4,cuma malam minggu. dah biasa.,cuma malam minggu dah biasa
5,5,BERTEMU DI TEMARAM https://t.co/GkhFfvkOAc,be emu di temaram cogkhffvkoac
6,6,@berlianidris üòÖ,berlianidris
7,7,Jangan ajari aku sabar. Dari kecil sampai seka...,jangan ajari aku sabar dari kecil sampai sekar...
8,8,"Di Twitter, cewek masak buat cowoknya, diribut...",di twitter cewek masak buat cowoknya diributin...
9,9,Tak mengapa sendirian di sepanjang jalan. Mung...,tak mengapa sendirian di sepanjang jalan mungk...

## Hapus Data Kosong

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   Tweets      200 non-null    object
 2   step01      200 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.8+ KB

In [21]:
df_hapus = df[~df['step01'].str.contains(" ")]

In [22]:
df_hapus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 6 to 196
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19 non-null     int64
 1   Tweets      19 non-null     object
 2   step01      19 non-null     object
dtypes: int64(1), object(2)
memory usage: 608.0+ bytes

In [23]:
df_hapus.head(10)

     Unnamed: 0                      Tweets        step01
6             6             @berlianidris üòÖ  berlianidris
32           32  ü§åüèª https://t.co/r8Ry9hwa7r     corryhwar
33           33  üôèüèª https://t.co/Huc03qyYxy      cohucqyy
37           37               @detikcom üò≠üò≠üò≠      detikcom
51           51                       pagi.          pagi
65           65                @Biruubiu ‚úäüèª      biruubiu
68           68     https://t.co/dGcAEg8myN   codgcaegmyn
75           75             @zarryhendrik ü§£  zarryhendrik
96           96                @Adli_DHJ üôèüèª      adli_dhj
115         115              @i_illumine üôèüèª    i_illumine

In [24]:
df_new = df[~df.isin(df_hapus)].dropna()

In [25]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 0 to 199
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  181 non-null    float64
 1   Tweets      181 non-null    object
 2   step01      181 non-null    object
dtypes: float64(1), object(2)
memory usage: 5.7+ KB

In [26]:
df_new

,Unnamed: 0,Tweets,step01
0,0.0,@bellaksaragih dagang sate,bellaksaragih dagang sate
1,1.0,orang-orang terus jadi wibu https://t.co/sDzvf...,orang orang terus jadi wibu cosdzvfpikm
2,2.0,orang-orang terus melupakan diri\nmereka sebel...,orang orang terus melupakan diri mereka sebelu...
3,3.0,orang-orang terus jadi abu\nkita hanyut dalam ...,orang orang terus jadi abu kita hanyut dalam w...
4,4.0,cuma malam minggu. dah biasa.,cuma malam minggu dah biasa
...,...,...,...
194,194.0,"Di sinar mata, sepanjang hari. Aku merekam set...",di sinar mata sepanjang hari aku merekam setia...
195,195.0,@cynrj Buku senandika,cynrj buku senandika
197,197.0,Segala yang berlebihan itu nggak baik. Minum a...,segala yang berlebihan itu nggak baik minum ai...
198,198.0,Selamat istirahat diri sendiri.,selamat istirahat diri sendiri
199,199.0,Instastori teman-temanku di konser semua.,instastori teman temanku di konser semua

## Normalisasi Kata Slang Menjadi Baku

In [27]:
# token
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [28]:
def word_tokenize_wrapper(text):
  return word_tokenize(text)

In [29]:
df_new['tokens'] = df["step01"].apply(word_tokenize_wrapper)

In [30]:
df_new.head(10)

,Unnamed: 0,Tweets,step01,tokens
0,0.0,@bellaksaragih dagang sate,bellaksaragih dagang sate,"[bellaksaragih, dagang, sate]"
1,1.0,orang-orang terus jadi wibu https://t.co/sDzvf...,orang orang terus jadi wibu cosdzvfpikm,"[orang, orang, terus, jadi, wibu, cosdzvfpikm]"
2,2.0,orang-orang terus melupakan diri\nmereka sebel...,orang orang terus melupakan diri mereka sebelu...,"[orang, orang, terus, melupakan, diri, mereka,..."
3,3.0,orang-orang terus jadi abu\nkita hanyut dalam ...,orang orang terus jadi abu kita hanyut dalam w...,"[orang, orang, terus, jadi, abu, kita, hanyut,..."
4,4.0,cuma malam minggu. dah biasa.,cuma malam minggu dah biasa,"[cuma, malam, minggu, dah, biasa]"
5,5.0,BERTEMU DI TEMARAM https://t.co/GkhFfvkOAc,be emu di temaram cogkhffvkoac,"[be, emu, di, temaram, cogkhffvkoac]"
7,7.0,Jangan ajari aku sabar. Dari kecil sampai seka...,jangan ajari aku sabar dari kecil sampai sekar...,"[jangan, ajari, aku, sabar, dari, kecil, sampa..."
8,8.0,"Di Twitter, cewek masak buat cowoknya, diribut...",di twitter cewek masak buat cowoknya diributin...,"[di, twitter, cewek, masak, buat, cowoknya, di..."
9,9.0,Tak mengapa sendirian di sepanjang jalan. Mung...,tak mengapa sendirian di sepanjang jalan mungk...,"[tak, mengapa, sendirian, di, sepanjang, jalan..."
10,10.0,Jam-jam rawan mikir: buat apa ya gue buru mati...,jam jam rawan mikir buat apa ya gue buru mati ...,"[jam, jam, rawan, mikir, buat, apa, ya, gue, b..."

In [31]:
normalized_word = pd.read_csv('kamus_clean.csv')

In [32]:
normalized_word_dict = {}

for index, row in normalized_word.iterrows():
    if row[0] not in normalized_word_dict:
        normalized_word_dict[row[0]] = row[1] 

def normalized_term(document):
    return [normalized_word_dict[term] if term in normalized_word_dict else term for term in document]

In [33]:
df_new['final_tokens'] = df_new['tokens'].apply(normalized_term)

In [34]:
i=0
final_string_tokens = []
for text in df_new['final_tokens'].values:
    EachReviewText = ""
    EachReviewText = ' '.join(text)
    final_string_tokens.append(EachReviewText)

In [35]:
df_new["step02"] = final_string_tokens

In [36]:
df_new.head(10)

,Unnamed: 0,Tweets,step01,tokens,final_tokens,step02
0,0.0,@bellaksaragih dagang sate,bellaksaragih dagang sate,"[bellaksaragih, dagang, sate]","[bellaksaragih, dagang, sate]",bellaksaragih dagang sate
1,1.0,orang-orang terus jadi wibu https://t.co/sDzvf...,orang orang terus jadi wibu cosdzvfpikm,"[orang, orang, terus, jadi, wibu, cosdzvfpikm]","[orang, orang, terus, jadi, wibu, cosdzvfpikm]",orang orang terus jadi wibu cosdzvfpikm
2,2.0,orang-orang terus melupakan diri\nmereka sebel...,orang orang terus melupakan diri mereka sebelu...,"[orang, orang, terus, melupakan, diri, mereka,...","[orang, orang, terus, melupakan, diri, mereka,...",orang orang terus melupakan diri mereka sebelu...
3,3.0,orang-orang terus jadi abu\nkita hanyut dalam ...,orang orang terus jadi abu kita hanyut dalam w...,"[orang, orang, terus, jadi, abu, kita, hanyut,...","[orang, orang, terus, jadi, abu, kita, hanyut,...",orang orang terus jadi abu kita hanyut dalam w...
4,4.0,cuma malam minggu. dah biasa.,cuma malam minggu dah biasa,"[cuma, malam, minggu, dah, biasa]","[cuma, malam, minggu, dah, biasa]",cuma malam minggu dah biasa
5,5.0,BERTEMU DI TEMARAM https://t.co/GkhFfvkOAc,be emu di temaram cogkhffvkoac,"[be, emu, di, temaram, cogkhffvkoac]","[be, emu, di, temaram, cogkhffvkoac]",be emu di temaram cogkhffvkoac
7,7.0,Jangan ajari aku sabar. Dari kecil sampai seka...,jangan ajari aku sabar dari kecil sampai sekar...,"[jangan, ajari, aku, sabar, dari, kecil, sampa...","[jangan, ajari, aku, sabar, dari, kecil, sampa...",jangan ajari aku sabar dari kecil sampai sekar...
8,8.0,"Di Twitter, cewek masak buat cowoknya, diribut...",di twitter cewek masak buat cowoknya diributin...,"[di, twitter, cewek, masak, buat, cowoknya, di...","[di, twitter, cewek, masak, buat, cowoknya, di...",di twitter cewek masak buat cowoknya diributin...
9,9.0,Tak mengapa sendirian di sepanjang jalan. Mung...,tak mengapa sendirian di sepanjang jalan mungk...,"[tak, mengapa, sendirian, di, sepanjang, jalan...","[tak, mengapa, sendirian, di, sepanjang, jalan...",tak mengapa sendirian di sepanjang jalan mungk...
10,10.0,Jam-jam rawan mikir: buat apa ya gue buru mati...,jam jam rawan mikir buat apa ya gue buru mati ...,"[jam, jam, rawan, mikir, buat, apa, ya, gue, b...","[jam, jam, rawan, mikir, buat, apa, ya, gue, b...",jam jam rawan mikir buat apa ya gue buru mati ...

## Simpan Clean Dataset

In [37]:
df_new.to_csv('clean_dataset_dsuperboy')